In [1]:
import pandas as pd
from glob import glob

In [5]:
from ydata_profiling import ProfileReport

In [2]:
glob('../data/*')

['../data/Задание (пролонгация).xlsx']

In [2]:
df = pd.read_excel('../data/Задание (пролонгация).xlsx', sheet_name='data_full')

In [3]:
df.dtypes

ID                   int64
Filial              object
Type_ts             object
passport_region     object
VIP                 object
Brand               object
Model               object
Yr_production        int64
GAP                 object
married             object
KBM                  int64
KBM_prol_est         int64
delta_kbm            int64
deduct              object
deduct_amount       object
product             object
Bank                object
channel - map       object
category            object
kvs_type            object
Age                  int64
Exp                  int64
discount           float64
Amount - gr          int64
sex                 object
premium_car          int64
price_gr             int64
price_prc          float64
OSAGO_clnt           int64
target               int64
dtype: object

# Profiling

In [7]:
profile = ProfileReport(df, title="Insurance Data")

In [8]:
profile.to_file('profile.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

/Users/dp_user/PycharmProjects/insurance_task/venv/lib/python3.11/site-packages/ydata_profiling/model/correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'Банк'')
  warnings.warn(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# Encoding

In [10]:
categorized_data = df[['Filial', 'Type_ts', 'passport_region', 'VIP', 'Brand', 'Model', 'GAP', 'married', 'deduct', 'deduct_amount', 'product', 'Bank', 'channel - map', 'category', 'kvs_type', 'sex']]

In [15]:
cat_cols = categorized_data.columns

In [11]:
df_encoded = pd.get_dummies(categorized_data)

In [12]:
df_encoded # TODO check hotel task

,Filial_Белгородский,Filial_Волгоградский,Filial_Воронежский,Filial_Дальневосточный,Filial_Екатеринбургский,Filial_Ижевский,Filial_Казанский,Filial_Кемеровский,Filial_Краснодарский,Filial_Магнитогорский,...,channel - map_Розница,category_NB 0-1,category_NB 2+,category_RN,category_RN sppg,kvs_type_Водители согласно перечню,"kvs_type_Ограничение по стажу и возрасту, без ограничения количества лиц",sex_,sex_F,sex_M
0,False,False,False,False,False,False,False,False,False,True,...,False,True,False,False,False,True,False,False,False,True
1,False,False,False,False,False,False,False,False,False,True,...,False,False,False,True,False,True,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,False,False,True,False
3,False,False,False,False,False,False,True,False,False,False,...,False,False,False,True,False,True,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,...,True,True,False,False,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10858,False,False,False,False,False,False,False,True,False,False,...,False,True,False,False,False,True,False,False,False,True
10859,False,False,False,False,False,True,False,False,False,False,...,False,False,False,True,False,True,False,False,False,True
10860,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,True,False
10861,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,False,False,False,True
10862,True,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,False,False,False,True

In [9]:
df.dtypes

ID                   int64
Filial              object
Type_ts             object
passport_region     object
VIP                 object
Brand               object
Model               object
Yr_production        int64
GAP                 object
married             object
KBM                  int64
KBM_prol_est         int64
delta_kbm            int64
deduct              object
deduct_amount       object
product             object
Bank                object
channel - map       object
category            object
kvs_type            object
Age                  int64
Exp                  int64
discount           float64
Amount - gr          int64
sex                 object
premium_car          int64
price_gr             int64
price_prc          float64
OSAGO_clnt           int64
target               int64
dtype: object

In [8]:
df

,ID,Filial,Type_ts,passport_region,VIP,Brand,Model,Yr_production,GAP,married,...,Age,Exp,discount,Amount - gr,sex,premium_car,price_gr,price_prc,OSAGO_clnt,target
0,1,Магнитогорский,Иностранные,Челябинская область,NaN,TOYOTA,RAV 4,2018,Нет,Состоит в браке,...,42,24,1.00,1400000,M,0,55000,0.040,0,0
1,2,Магнитогорский,Отечественные,Челябинская область,NaN,LADA,GRANTA,2016,Нет,Состоит в браке,...,41,4,1.05,200000,M,0,10000,0.010,0,0
2,3,Ростовский,Отечественные,Ростовская область,NaN,LADA,GRANTA,2018,Нет,Не состоит в браке,...,49,20,0.95,400000,F,0,30000,0.065,1,1
3,4,Казанский,Иностранные,Республика Татарстан,NaN,KIA,RIO,2016,Нет,Не состоит в браке,...,40,15,1.10,400000,M,0,10000,0.020,1,0
4,5,Московский,Иностранные,Москва,NaN,DATSUN,ON-DO,2018,Нет,Состоит в браке,...,58,23,1.00,400000,M,0,10000,0.015,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10858,10859,Кемеровский,Иностранные,Кемеровская область,NaN,HYUNDAI,GRAND SANTA FE,2018,Нет,Состоит в браке,...,44,21,1.00,1800000,M,0,70000,0.035,1,-1
10859,10860,Ижевский,Отечественные,Удмуртская Республика,NaN,LADA,GRANTA,2016,Нет,Не состоит в браке,...,33,15,1.00,200000,M,0,20000,0.080,1,-1
10860,10861,Новосибирский,Иностранные,Белгородская область,NaN,KIA,CERATO,2017,Да,Состоит в браке,...,55,36,1.05,600000,F,0,10000,0.010,0,-1
10861,10862,Ростовский,Отечественные,Ростовская область,NaN,LADA,GRANTA,2018,Нет,Состоит в браке,...,60,32,1.00,400000,M,0,30000,0.050,0,-1
10862,10863,Белгородский,Иностранные,Белгородская область,NaN,KIA,CERATO,2018,Нет,Состоит в браке,...,51,16,1.00,1000000,M,0,15000,0.015,0,-1

# Correlations

In [13]:
all_cols = df.columns

In [16]:
vect_cols = list(set(all_cols) - set(cat_cols))

In [17]:
# concat from left to right and look correlations

In [7]:
df

,ID,Filial,Type_ts,passport_region,VIP,Brand,Model,Yr_production,GAP,married,...,Age,Exp,discount,Amount - gr,sex,premium_car,price_gr,price_prc,OSAGO_clnt,target
0,1,Магнитогорский,Иностранные,Челябинская область,NaN,TOYOTA,RAV 4,2018,Нет,Состоит в браке,...,42,24,1.00,1400000,M,0,55000,0.040,0,0
1,2,Магнитогорский,Отечественные,Челябинская область,NaN,LADA,GRANTA,2016,Нет,Состоит в браке,...,41,4,1.05,200000,M,0,10000,0.010,0,0
2,3,Ростовский,Отечественные,Ростовская область,NaN,LADA,GRANTA,2018,Нет,Не состоит в браке,...,49,20,0.95,400000,F,0,30000,0.065,1,1
3,4,Казанский,Иностранные,Республика Татарстан,NaN,KIA,RIO,2016,Нет,Не состоит в браке,...,40,15,1.10,400000,M,0,10000,0.020,1,0
4,5,Московский,Иностранные,Москва,NaN,DATSUN,ON-DO,2018,Нет,Состоит в браке,...,58,23,1.00,400000,M,0,10000,0.015,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10858,10859,Кемеровский,Иностранные,Кемеровская область,NaN,HYUNDAI,GRAND SANTA FE,2018,Нет,Состоит в браке,...,44,21,1.00,1800000,M,0,70000,0.035,1,-1
10859,10860,Ижевский,Отечественные,Удмуртская Республика,NaN,LADA,GRANTA,2016,Нет,Не состоит в браке,...,33,15,1.00,200000,M,0,20000,0.080,1,-1
10860,10861,Новосибирский,Иностранные,Белгородская область,NaN,KIA,CERATO,2017,Да,Состоит в браке,...,55,36,1.05,600000,F,0,10000,0.010,0,-1
10861,10862,Ростовский,Отечественные,Ростовская область,NaN,LADA,GRANTA,2018,Нет,Состоит в браке,...,60,32,1.00,400000,M,0,30000,0.050,0,-1
10862,10863,Белгородский,Иностранные,Белгородская область,NaN,KIA,CERATO,2018,Нет,Состоит в браке,...,51,16,1.00,1000000,M,0,15000,0.015,0,-1