In [1]:
import pandas as pd
from glob import glob

In [2]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.io as pio

In [3]:
from tqdm import tqdm

In [4]:
import numpy as np

In [5]:
from ydata_profiling import ProfileReport

In [2]:
glob('../data/*')

['../data/Задание (пролонгация).xlsx']

In [5]:
df = pd.read_excel('../data/Задание (пролонгация).xlsx', sheet_name='data_full')

In [3]:
df.dtypes

ID                   int64
Filial              object
Type_ts             object
passport_region     object
VIP                 object
Brand               object
Model               object
Yr_production        int64
GAP                 object
married             object
KBM                  int64
KBM_prol_est         int64
delta_kbm            int64
deduct              object
deduct_amount       object
product             object
Bank                object
channel - map       object
category            object
kvs_type            object
Age                  int64
Exp                  int64
discount           float64
Amount - gr          int64
sex                 object
premium_car          int64
price_gr             int64
price_prc          float64
OSAGO_clnt           int64
target               int64
dtype: object

# ToDo

ToDo:

matrixs of percetage differences between features from view of subsets of target
for categorical and numerical features
count means and medians of deltas select outliers
ChiSquare Test

# Profiling

In [7]:
profile = ProfileReport(df, title="Insurance Data")

In [8]:
profile.to_file('profile.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

/Users/dp_user/PycharmProjects/insurance_task/venv/lib/python3.11/site-packages/ydata_profiling/model/correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'Банк'')
  warnings.warn(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# Encoding

In [8]:
categorized_data = df[['Filial', 'Type_ts', 'passport_region', 'VIP', 'Brand', 'Model', 'GAP', 'married', 'deduct', 'deduct_amount', 'product', 'Bank', 'channel - map', 'category', 'kvs_type', 'sex']]

In [9]:
cat_cols = categorized_data.columns

In [5]:
df_encoded = pd.get_dummies(categorized_data)

In [12]:
df_encoded # TODO check hotel task

,Filial_Белгородский,Filial_Волгоградский,Filial_Воронежский,Filial_Дальневосточный,Filial_Екатеринбургский,Filial_Ижевский,Filial_Казанский,Filial_Кемеровский,Filial_Краснодарский,Filial_Магнитогорский,...,channel - map_Розница,category_NB 0-1,category_NB 2+,category_RN,category_RN sppg,kvs_type_Водители согласно перечню,"kvs_type_Ограничение по стажу и возрасту, без ограничения количества лиц",sex_,sex_F,sex_M
0,False,False,False,False,False,False,False,False,False,True,...,False,True,False,False,False,True,False,False,False,True
1,False,False,False,False,False,False,False,False,False,True,...,False,False,False,True,False,True,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,False,False,True,False
3,False,False,False,False,False,False,True,False,False,False,...,False,False,False,True,False,True,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,...,True,True,False,False,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10858,False,False,False,False,False,False,False,True,False,False,...,False,True,False,False,False,True,False,False,False,True
10859,False,False,False,False,False,True,False,False,False,False,...,False,False,False,True,False,True,False,False,False,True
10860,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,True,False
10861,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,False,False,False,True
10862,True,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,False,False,False,True

# Correlations

In [10]:
all_cols = df.columns

In [11]:
vect_cols = list(set(all_cols) - set(cat_cols))

In [8]:
concat_df = pd.concat([df_encoded, df[vect_cols]], axis=1)

In [26]:
correlated_matrix = concat_df.corr()

In [39]:
correlated_matrix

,Filial_Белгородский,Filial_Волгоградский,Filial_Воронежский,Filial_Дальневосточный,Filial_Екатеринбургский,Filial_Ижевский,Filial_Казанский,Filial_Кемеровский,Filial_Краснодарский,Filial_Магнитогорский,...,price_gr,Age,KBM_prol_est,Yr_production,KBM,premium_car,delta_kbm,Amount - gr,ID,target
Filial_Белгородский,1.000000,-0.019284,-0.027883,-0.010283,-0.019746,-0.021076,-0.026211,-0.016508,-0.044982,-0.023285,...,-0.045829,-0.014397,0.006749,0.018924,0.009448,-0.022638,0.011379,-0.015339,-0.003971,0.004972
Filial_Волгоградский,-0.019284,1.000000,-0.031554,-0.011638,-0.022346,-0.023852,-0.029662,-0.018682,-0.050905,-0.026352,...,-0.075183,0.018680,-0.039061,0.011436,-0.029344,-0.043478,0.011993,-0.081093,0.007340,-0.003495
Filial_Воронежский,-0.027883,-0.031554,1.000000,-0.016827,-0.032310,-0.034488,-0.042890,-0.027013,-0.073605,-0.038102,...,-0.056657,0.022363,-0.030092,0.019273,-0.020812,0.027991,0.020645,-0.027330,-0.009128,0.013831
Filial_Дальневосточный,-0.010283,-0.011638,-0.016827,1.000000,-0.011916,-0.012720,-0.015818,-0.009963,-0.027146,-0.014053,...,0.081690,0.017597,-0.002121,-0.028907,-0.007906,0.117125,0.008470,0.123960,-0.003557,0.009049
Filial_Екатеринбургский,-0.019746,-0.022346,-0.032310,-0.011916,1.000000,-0.024424,-0.030373,-0.019130,-0.052125,-0.026983,...,-0.025267,0.009494,-0.024613,-0.013513,-0.021773,-0.029199,-0.008033,-0.049315,0.005175,-0.007849
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
premium_car,-0.022638,-0.043478,0.027991,0.117125,-0.029199,-0.043771,-0.038523,-0.018206,0.000177,-0.043912,...,0.462104,-0.019621,-0.076076,-0.132024,-0.081302,1.000000,-0.010982,0.648480,-0.001005,0.037381
delta_kbm,0.011379,0.011993,0.020645,0.008470,-0.008033,0.012743,0.025619,0.006050,0.053970,0.013970,...,0.106943,-0.094756,0.547567,0.517995,0.667156,-0.010982,1.000000,0.105991,-0.004999,-0.055344
Amount - gr,-0.015339,-0.081093,-0.027330,0.123960,-0.049315,-0.118844,-0.058595,-0.025899,0.033638,-0.073531,...,0.748633,-0.024976,0.126692,0.188388,0.116285,0.648480,0.105991,1.000000,-0.000913,0.024865
ID,-0.003971,0.007340,-0.009128,-0.003557,0.005175,-0.018019,-0.009277,0.009475,0.023158,-0.007385,...,0.004579,-0.016180,0.002070,-0.001090,-0.002064,-0.001005,-0.004999,-0.000913,1.000000,-0.670585
target,0.004972,-0.003495,0.013831,0.009049,-0.007849,0.008737,-0.016256,-0.011308,-0.065656,-0.015224,...,-0.029713,0.039642,-0.120213,-0.099643,-0.117121,0.037381,-0.055344,0.024865,-0.670585,1.000000

## Melting

In [40]:
correlated_matrix_reset = correlated_matrix.reset_index()
melted = pd.melt(correlated_matrix_reset, id_vars=['index'], value_vars=correlated_matrix_reset.columns[1:], var_name='Variable 2', value_name='Correlation')
melted.rename(columns={'index': 'Variable 1'}, inplace=True)

In [46]:
melted['Correlation_abs'] = melted['Correlation'].abs()

In [49]:
melted_sorted = melted.sort_values(by='Correlation_abs', ascending=False).copy()
melted_sorted_filtered = melted_sorted.loc[melted_sorted['Variable 1'] != melted_sorted['Variable 2']].copy()

In [50]:
melted_sorted_filtered

,Variable 1,Variable 2,Correlation,Correlation_abs
125919,GAP_Нет,GAP_Да,-1.000000,1.000000
126294,GAP_Да,GAP_Нет,-1.000000,1.000000
127429,deduct_amount_0,deduct_Без франшизы,1.000000,1.000000
128554,deduct_Без франшизы,deduct_amount_0,1.000000,1.000000
134965,kvs_type_Водители согласно перечню,"kvs_type_Ограничение по стажу и возрасту, без ...",-1.000000,1.000000
...,...,...,...,...
83806,GAP_Да,Model_IX35,0.000003,0.000003
83807,GAP_Нет,Model_IX35,-0.000003,0.000003
126182,Model_IX35,GAP_Нет,-0.000003,0.000003
31958,ID,passport_region_Ростовская область,0.000002,0.000002
140708,passport_region_Ростовская область,ID,0.000002,0.000002

In [51]:
melted_sorted_filtered.loc[melted_sorted_filtered['Variable 1'].str.contains('target') | melted_sorted_filtered['Variable 2'].str.contains('target')]

,Variable 1,Variable 2,Correlation,Correlation_abs
140999,target,ID,-0.670585,0.670585
141374,ID,target,-0.670585,0.670585
141355,category_RN,target,0.128240,0.128240
133855,target,category_RN,0.128240,0.128240
133103,target,category_NB 0-1,-0.128071,0.128071
...,...,...,...,...
141130,Brand_TOYOTA,target,0.000191,0.000191
11279,target,passport_region_Брянская область,-0.000052,0.000052
141029,passport_region_Брянская область,target,-0.000052,0.000052
44367,target,Brand_HYUNDAI,0.000018,0.000018
141117,Brand_HYUNDAI,target,0.000018,0.000018

Существенных корреляций для таргета нет

# Subsets for Target

In [6]:
df_target_0 = df[df['target'] == 0].copy()
df_target_1 = df[df['target'] == 1].copy()
df_target_minus_1 = df[df['target'] == -1].copy()

# Feature Review

## Categorical

In [70]:
cat_cols

Index(['Filial', 'Type_ts', 'passport_region', 'VIP', 'Brand', 'Model', 'GAP',
       'married', 'deduct', 'deduct_amount', 'product', 'Bank',
       'channel - map', 'category', 'kvs_type', 'sex'],
      dtype='object')

In [75]:
cat_review_dict = {}
for cat in tqdm(cat_cols):
    review_df = pd.DataFrame()
    review_df['name'] = ''
    review_df['percentage'] = ''

    review_df_target_0 = review_df.copy()
    review_df_target_1 = review_df.copy()
    review_df_target_minus_1 = review_df.copy()

    # total
    review_df['name'] = df[cat].value_counts().reset_index()[cat]
    review_df['percentage'] = df[cat].value_counts().reset_index()['count'] / df.shape[0]

    # target 0
    review_df_target_0['name'] = df_target_0[cat].value_counts().reset_index()[cat]
    review_df_target_0['percentage'] = df_target_0[cat].value_counts().reset_index()['count'] / df_target_0.shape[0]

    # target 1
    review_df_target_1['name'] = df_target_1[cat].value_counts().reset_index()[cat]
    review_df_target_1['percentage'] = df_target_1[cat].value_counts().reset_index()['count'] / df_target_1.shape[0]

    # target -1
    review_df_target_minus_1['name'] = df_target_minus_1[cat].value_counts().reset_index()[cat]
    review_df_target_minus_1['percentage'] = df_target_minus_1[cat].value_counts().reset_index()['count'] / df_target_minus_1.shape[0]

    # Join
    review_df = review_df.merge(review_df_target_0, on='name', suffixes=('', '_target_0'), how='left')
    review_df = review_df.merge(review_df_target_1, on='name', suffixes=('', '_target_1'), how='left')
    review_df = review_df.merge(review_df_target_minus_1, on='name', suffixes=('', '_target_minus_1'), how='left')

    # Delta
    review_df['delta_0'] = review_df['percentage'] - review_df['percentage_target_0']
    review_df['delta_1'] = review_df['percentage'] - review_df['percentage_target_1']
    review_df['delta_minus_1'] = review_df['percentage'] - review_df['percentage_target_minus_1']

    cat_review_dict[cat] = review_df

100%|██████████| 16/16 [00:00<00:00, 139.95it/s]

In [73]:
cat_review_dict.keys()

dict_keys(['Filial', 'Type_ts', 'passport_region', 'VIP', 'Brand', 'Model', 'GAP', 'married', 'deduct', 'deduct_amount', 'product', 'Bank', 'channel - map', 'category', 'kvs_type', 'sex'])

In [76]:
cat_review_dict['Filial']

,name,percentage,percentage_target_0,percentage_target_1,percentage_target_minus_1,delta_0,delta_1,delta_minus_1
0,Московский,0.304244,0.276885,0.365093,0.303828,0.027359,-0.060849,0.000415
1,Краснодарский,0.106140,0.121508,0.056071,0.117917,-0.015368,0.050069,-0.011777
2,Санкт - Петербургский,0.099972,0.085917,0.120995,0.107198,0.014056,-0.021023,-0.007225
3,Ростовский,0.050907,0.053578,0.044266,0.051455,-0.002672,0.006640,-0.000548
4,Воронежский,0.043634,0.042671,0.049325,0.041041,0.000963,-0.005691,0.002593
5,Казанский,0.038755,0.046690,0.024874,0.036141,-0.007934,0.013882,0.002615
6,Самарский,0.036270,0.035400,0.043423,0.032466,0.000870,-0.007153,0.003804
7,Магнитогорский,0.030839,0.038462,0.018128,0.027871,-0.007623,0.012710,0.002967
8,Челябинский,0.029458,0.026980,0.031197,0.032159,0.002477,-0.001740,-0.002701
9,Пермский,0.028261,0.031573,0.028668,0.022665,-0.003312,-0.000407,0.005596
10,Ижевский,0.025407,0.027937,0.024874,0.021746,-0.002530,0.000534,0.003662
11,Уфимский,0.024855,0.028703,0.015177,0.025727,-0.003848,0.009678,-0.000872
12,Нижегородский,0.024763,0.026598,0.021501,0.024196,-0.001835,0.003262,0.000567
13,Тверской,0.023106,0.019900,0.030354,0.022971,0.003205,-0.007248,0.000135
14,Екатеринбургский,0.022370,0.022197,0.020658,0.023890,0.000173,0.001712,-0.001520
15,Ставропольский,0.021541,0.025450,0.014334,0.020521,-0.003909,0.007207,0.001020
16,Волгоградский,0.021357,0.020475,0.021501,0.022665,0.000882,-0.000144,-0.001308
17,Новосибирский,0.017122,0.018370,0.015599,0.016233,-0.001247,0.001524,0.000890
18,Белгородский,0.016754,0.015691,0.018971,0.016845,0.001063,-0.002217,-0.000091
19,Кемеровский,0.015742,0.017604,0.011383,0.015926,-0.001863,0.004359,-0.000185
20,Тульский,0.012335,0.011864,0.015599,0.010720,0.000472,-0.003263,0.001616
21,Дальневосточный,0.006168,0.005549,0.008010,0.005819,0.000619,-0.001842,0.000348

### Plotting

In [82]:
all_figures_html = ""

for key, df in tqdm(cat_review_dict.items()):
    fig = go.Figure()
    fig.add_trace(go.Bar(x=df['name'], y=df['percentage'], name='Total'))
    fig.add_trace(go.Bar(x=df['name'], y=df['percentage_target_0'], name='Target 0'))
    fig.add_trace(go.Bar(x=df['name'], y=df['percentage_target_1'], name='Target 1'))
    fig.add_trace(go.Bar(x=df['name'], y=df['percentage_target_minus_1'], name='Target -1'))


    fig.update_layout(title_text=f'Distribution for {key}', barmode='group')
    all_figures_html += f"<div>{pio.to_html(fig, full_html=False)}</div>"

# Save the combined HTML to a file
with open("cat_plots.html", "w") as file:
    file.write(all_figures_html)

100%|██████████| 16/16 [00:00<00:00, 44.98it/s]

Visually target 1 has more values for VIP and non common TS types
Also target 1 break common distribution for Bank field
ALso target 1 break common distribution for category field
But target -1 has common distribution for all categorical fields

## Numerical

In [13]:
vect_cols = list(set(vect_cols) - set(['ID']))

In [14]:
vect_cols

['Age',
 'Amount - gr',
 'Exp',
 'KBM_prol_est',
 'delta_kbm',
 'price_prc',
 'target',
 'premium_car',
 'Yr_production',
 'discount',
 'KBM',
 'OSAGO_clnt',
 'price_gr']

In [ ]:
df['Yr']

In [15]:
# dataframes_dict = {'subset1': df1, 'subset2': df2, 'subset3': df3}
# numerical_columns = ['num_col1', 'num_col2', ...]

# Initialize an empty string to store all the figures' HTML
all_figures_html = ""

for col in tqdm(vect_cols):
    fig = go.Figure()

    fig.add_trace(go.Histogram(x=df[col], name='Total'))
    fig.add_trace(go.Histogram(x=df_target_0[col], name='Target 0'))
    fig.add_trace(go.Histogram(x=df_target_1[col], name='Target 1'))
    fig.add_trace(go.Histogram(x=df_target_minus_1[col], name='Target -1'))

    fig.update_layout(
        title_text=f'Distribution of {col} in subsets',
        barmode='overlay',
        xaxis_title_text=col,
        yaxis_title_text='Count',
    )
    fig.update_traces(marker_line_width=1.5)

    all_figures_html += f"<div>{pio.to_html(fig, full_html=False)}</div>"


with open(f"../plots/numerical_distributions.html", "w") as file:
    file.write(all_figures_html)

100%|██████████| 13/13 [00:00<00:00, 28.46it/s]

## Filials

In [65]:
filials_df = pd.DataFrame()
filials_df['name'] = ''
filials_df['percentage'] = ''
filials_df['name'] = df['Filial'].value_counts().reset_index()['Filial']
filials_df['percentage'] = df['Filial'].value_counts().reset_index()['count'] / df.shape[0]
filials_df

                     name  percentage
0              Московский    0.304244
1           Краснодарский    0.106140
2   Санкт - Петербургский    0.099972
3              Ростовский    0.050907
4             Воронежский    0.043634
5               Казанский    0.038755
6               Самарский    0.036270
7          Магнитогорский    0.030839
8             Челябинский    0.029458
9                Пермский    0.028261
10               Ижевский    0.025407
11               Уфимский    0.024855
12          Нижегородский    0.024763
13               Тверской    0.023106
14       Екатеринбургский    0.022370
15         Ставропольский    0.021541
16          Волгоградский    0.021357
17          Новосибирский    0.017122
18           Белгородский    0.016754
19            Кемеровский    0.015742
20               Тульский    0.012335
21        Дальневосточный    0.006168

## Type TS

In [66]:
type_ts = pd.DataFrame()
type_ts['name'] = ''
type_ts['percentage'] = ''
type_ts['name'] = df['Type_ts'].value_counts().reset_index()['Type_ts']
type_ts['percentage'] = df['Type_ts'].value_counts().reset_index()['count'] / df.shape[0]
type_ts

            name  percentage
0    Иностранные     0.76894
1  Отечественные     0.23106